<h1>編集画面</h1>
<!--@listモデルと連携する 補足：update_list_pathのURLへ:patch（HTTPメソッド）でフォーム情報を送信する　ブロック変数f-->
<%= form_with model: @list, url: update_list_path(@list.id), method: :patch  do |f| %>

  <h4>タイトル</h4>
  <!-- @listモデルのtitleカラムに単一行のテキストフィールドを追加する -->
  <%= f.text_field :title %>

  <h4>本文</h4>
    <!-- @listモデルのbodyカラムに複数行のテキストフィールドを追加する -->
  <%= f.text_area :body %>

  <%= f.submit '保存' %>

<% end %>
